# OS
.DS_Store

# .NET
bin/
obj/
out/
.vs/
*.user
*.suo

# Editors
.vscode/
.idea/

# Web
node_modules/
wwwroot/*.map

# Local secrets
appsettings.Development.json
appsettings.Local.json
secrets.json
